
.imgServicios{
    display: none;
}
.titleServicios{
    padding: 50px;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    color: #FAA41B;
}
.pServicios{
    font-family: 'Comic Neue', cursive;;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin-top:1%;
    padding: 50px;
}
.p1{
    width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .imgServicios{
        display: inline;
        width:25%;
        position: absolute;
        margin-left: -67%;
        margin-top: -45%;
    }
    .titleServicios{
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 33px;
        text-align: center;
        color: #FAA41B;
    }
    .pServicios{
        padding: 0 80px;
        font-family: 'Comic Neue', cursive;;
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 28px;
        text-align: center;
        color: #000000;
        margin-top:1%;
    }
    .p1{
        display: none;
    }
}
@media screen and (min-width: 1025px){
    .imgServicios{
        display: inline;
        width:25%;
        position: absolute;
        margin-left: -66%;
        margin-top: -40%;
    }
    @media screen and (min-width: 1200px) {
        .imgServicios{
            margin-left: -62%;
        }
    }
    .titleServicios{
        font-family: 'Comfortaa', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        color: #FAA41B;
    }
    .pServicios{
        font-family: 'Comic Neue', cursive;;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #000000;
        margin-top:1%;
    }
    .p1{
        display: none;
    }
}