*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
}


.div1{
    height: 390px;
    background: linear-gradient(180deg, #30BFCE 0%, rgba(48, 191, 206, 0.2) 0.01%, #30BFCE 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2{
    margin-top: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 252px;       
    height: 121px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.08), inset -1px 4px 2px rgba(201, 201, 201, 0.1), inset -5px 5px 12px rgba(255, 255, 255, 0.05), inset 5px -5px 12px rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(75px);
    border-radius: 16px;
}
.logo-general{
    width: 57%;
    height: 40%;
}

.container-datos{
    margin-top: -6%;
    background-color: white;
    position: relative;
    width: 100%;
    height: 35em;
    border-radius: 30px 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-title{
    margin-top: -5%;
    margin-bottom: 10%;
    text-align: center;
}

span{
    color: #FAA41B;
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    font-size: 1.3em;
    align-items: center;
}
.labelGeneral{
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    font-size: 1.3em;
}
.content-subtitle{
    margin-bottom: 5%;
    text-align: center;
}
.subtitulo{
    font-family: 'Comfortaa', cursive;
    color: #8C8C8C;
}
.title-label{
    font-family: 'Comfortaa', cursive;
    font-size: 15px;
    line-height: 30px;
    font-weight: 800;
}
.content-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 80%;
}
input{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    width: 99%;
    height: 50%;
    padding: 10px 15px;
    border-radius: 8px; 
    font-family: Comfortaa;
    font-size: 1em;
    line-height: 25px;
}
.entrar{
    margin-top: 10%;
    background: linear-gradient(90deg, rgba(48, 191, 206, 0.8) 0.29%, rgba(48, 191, 206, 0.6) 50.52%, rgba(48, 191, 206, 0.5) 100%);
    width: 100%;
    height: 2em;
    font-size: 25px;
    line-height: 25px;
    border-radius: 25px;
    color: white;
    font-family: Comfortaa;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.entrar:hover{
    background: linear-gradient(90deg, rgba(36, 151, 164, 0.8) 0.29%, rgba(36, 126, 136, 0.6) 50.52%, rgba(40, 157, 170, 0.5) 100%);
}
.ir{
    margin-right: -35%;
    margin-left: 30%;
    width: 8%;
}
.direcciones{
    margin-top: 10%;
    text-align: center;
    font-family: 'Comforfaa';
}
.link{
    text-decoration: none;
}
.direcciones-sub{
    margin-top: 2%;
}
.container-login-desk{
    display: none;
}
@media screen and (min-width:500px){
    .content-title{
        margin-top: 5%;
    }
}
@media screen and (min-width:1024px){
    .container-datos{
        display: none;
    }
    .div1{
        display: none;
    }
    .container-login-desk{
        display: flex;

    }
    .container-text-desk{
        font-family: 'Comfortaa';
        color: white;
        width: 50%;
        height: 62.2em;
        background: linear-gradient(90deg, rgba(48, 191, 206, 0.8) 0.29%, rgba(48, 191, 206, 0.6) 50.52%, rgba(48, 191, 206, 0.5) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-desk{
        width: 350px;
        height: 313px;
        background: rgba(255, 255, 255, 0.08);
        border: 1px solid rgba(255, 255, 255, 0.08);
        box-shadow: 4px 7px 15px rgba(0, 0, 0, 0.08), inset -1px 4px 2px rgba(201, 201, 201, 0.1), inset -5px 5px 12px rgba(255, 255, 255, 0.05), inset 5px -5px 12px rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(75px);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: static;
        font-size: 2em;
    }
    .content-text{
        position: absolute;
        width: 200%;
    }
    @media screen and (min-width: 1024px) and (max-width: 1380px){
        .content-text{
            width: 150%;
        }
        .text-desk{
            font-size: 1.5em;
        }
    }
    .C{
        color: #FFF700;
        font-weight: 400;
    }
    .Ca{
        color: #FF9D00;
        font-weight: 400;
    }
    .B{
        color: #7426C1;
        font-weight: 400;
    }
    .login-datos-desk{
        width: 50%;
        height: 48em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .datos-container-desk{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo-general{
        width: 10%;
        margin-top: -20%;
    }
    .div-form-desk{
        width: 100%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-desk{
        width: 60%;
    }
    .all-text-desk{
        font-family: 'Comfortaa';
        color: rgb(0, 0, 0)
    }
    .all-text-hola{
        margin-top: 3%;
        margin-bottom: 3%;
        font-size: 1.4em;
        font-family: 'Comfortaa';
        font-weight: 800;
    }
    .direcciones{
        font-family: 'Comfortaa';
        font-weight: 500;
    }
}