*{
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    margin: 0;
}
.separador{
    width: 100%;
    height: 2px;
    background-color: #8C8C8C;
}
.separador2{
    width: 2px;
    height: 100%;
    background-color: #8c8c8c;
}

.headerHP{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content-HP{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}
.header-content-HP img{
    width: 10%;
}
.abrir-menu{
    font-size: 1.5em;
    border: 0;
    background-color: transparent;
    transition: 1s;
}
.abrir-menu:hover{
    transform: rotate(85deg);
}
.cerrar-menu{
    font-size: 1.5em;
    border: 0;
    background-color: transparent;
    color: white;
    transition: 1s;
}
.cerrar-menu:hover{
    transform: rotate(45deg);
}
.nav{
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 60%;
    background: #161616;
    padding: 3rem;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
    border-radius: 0 0 0 20px;
    transition: 1s;
    margin-right: -14%;
}
.nav.visible{
    opacity: 1;
    visibility: visible;
    margin-right: 0;
}
.nav-list{
    list-style-type: none;
    flex-direction: column;
    align-items: end;
}
.nav-list li{
    margin: 1rem 0;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}

.settingsHP{
    width: 10%;
}
.container-user{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-user-2{
    padding: 15px;
    width: 80%;
    text-align: center;
}
.name-estado{
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-vacio{
    width: 20%;
}
.icon-alumn{
    width: 10%;
}
.circulo{
    margin-left: 5px;
    margin-top: -10px;
    background: #4BEA00;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.recomendaciones{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    text-align: center;
}
.carrusel-recomendaciones{
    overflow: hidden;
    position: relative;
    width:100%;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 5%;
}
.carrusel-recomendaciones ul{
    padding: 10px 0;
    margin-top: 5%;
    display: flex;
    width: 100%;
}
.img-recomendacion{
    width: 150%;
}
.container-cursos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 0 0 0;
}

.container-card-HP{
    margin-top: 20%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-HP{
    padding: 30px 0 0 0;
    background-color: rgb(27, 113, 84);
    background-color: transparent;
    border: solid 2px black;
    border-radius: 1.4em;
    width: 23em;
    height: 100%;
}
.img-card-hp{
    width: 90%;
    margin-top: 15%;
    margin-bottom: 15%;
}
.ver-mas-HP{
    margin-bottom:5%;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    width: 213px;
    height: 35px;
    background-color: #30BFCE;
    border-radius:5em;
    border: none;
    box-shadow: -1px 2px 4px #00000058 ; 
    transition: .3s;
}

.container-homepage{
    display: none;
}
@media screen and (min-width: 1024px){
    .card-HP{
        width: 17em;
    }
    .container-user{
        display: none;
    }
    .recomendaciones{
        display: none;
    }
    .logo-general{
        width: 7%;
        margin-top: 0%;
    }
    .container-cursos{
        display: none;
    }
    .headerHP{
        margin-top: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-content-HP{
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px 20px 20px; 
    }   
    .container-homepage{
        width: 100%;
        display: flex;
    }
    .container-desk-user-recomendaciones{
        width: 50%;
    }
    .container-user-desk{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon-alumn-desk{
        margin-left: 5%;
        margin-right: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 25%;
    }
    .container-text-user-desk{
        width: 100%;
    }
    .name-conectar-desk{
        display: flex;
    }
    .circulo{
        margin-top: 0%;
    }
    .recomendaciones-desk{
        margin-top: 7%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .content-cards-HP{
        margin-top: 3%;
        width: 100%;
        height: 690px;
        overflow: auto;
        text-align: center;
    }
    .content-cards-HP::-webkit-scrollbar {
        width: 7px;
    }
    .content-cards-HP::-webkit-scrollbar-thumb {
        background: #ffffff;
        border-radius: 5px;
    }
    
    .content-cards-HP::-webkit-scrollbar {
        width: 7px;
    }
    
    .content-cards-HP::-webkit-scrollbar-thumb {
        background: #ffffff;
        border-radius: 5px;
    }




    .sections-desk-hp{
        width: 100%;
        border-left: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }
    .title-cursos-desk{
        width: 100%;
    }
    .content-cards-desk{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content-cards-desk1{
        margin-right: 5%;
    }
    .content-cards-desk2{
        margin-left: 5%;
    }

    .icon-range{
        width: 8%;
    }
    .onnline{
        width: 1%;
        margin-left: .7%;
        text-align: right;
    }



    .container-recomendacion{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-recomendacion div{
        margin-top: 5%; 
        width: 80%;
        background-color: #30BFCE ;
        padding: 15px;
        border-radius: 1em;
        margin-bottom: 3%;
    }
    .container-recomendacion img{
        width: 100%;
        margin-bottom: 5%;
        border-radius: 1em;
    }
    .container-recomendacion p{
        font-family: 'Comfortaa';
        font-weight: 600;
        margin-bottom: 4%;
        margin-top: 1%;
    }



    .container-recomendacion2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container-recomendacion2 div{
        margin-top: 5%; 
        width: 80%;
        background: linear-gradient(90deg, rgba(128, 0, 255, 0.21) 0%, rgba(128, 0, 255, 0.3) 100%);
        padding: 15px;
        border-radius: 1em;
        margin-bottom: 3%;
    }
    .container-recomendacion2 img{
        width: 100%;
        margin-bottom: 5%;
        border-radius: 1em;
    }
    .container-recomendacion2 p{
        font-family: 'Comfortaa';
        font-weight: 600;
        margin-bottom: 4%;
        margin-top: 1%;
    }
    @media screen and (min-width: 1200px){
        .card-HP{
            width: 20em;
        }
    }
    
}